%html
  %head
    %title Woah.
    :javascript
      function openOpenIDWindow(openid){
        $('#login').innerHTML = 'Signing you in...';
        if(openid) window.open('/auth/open_id?openid_url='+encodeURIComponent(openid), 'openid_popup', 'width=500,height=450');
        else window.open('/auth/open_id', 'openid_popup', 'width=500,height=450');
      }
  %body
    %h2 Wait a minute... 
    %p You'll need to log in before you can continue. Please choose a login provider you already have an account with.
    - if(flash['error'])
      .error= flash('error')
    %a{:href => "#", :onclick => "openOpenIDWindow(\"https://www.google.com/accounts/o8/id\"); return false;"}
      %img{:src => "/assets/_administration_/images/google_badge.png", :border => "0"}
    %a{:href => "#", :onclick => "openOpenIDWindow(\"https://www.yahoo.com\"); return false;"}
      %img{:src => "/assets/_administration_/images/yahoo_badge.png", :border => "0"}
    %a{:href => "#", :onclick => "openOpenIDWindow(false); return false;"}
      %img{:src => "/assets/_administration_/images/openid_badge.png", :border => "0"}

      