%ul.nav
  %li.first
    %a{:href => route_to(model)} Home
  - for item in model.children
    - next unless item.show_in_nav
    %li
      %a{:href => route_to(item)}= orange[:sitemap].link_text_for(item)