%ul.nav
  %li.first
    %a{:href => route_to(model)} Home
  - for item in model.children
    - next unless item.show_in_nav
    %li
      %a{:href => route_to(item)}= orange[:sitemap].link_text_for(item)
      - unless item.descendants.empty?
        %ul.subnav
          - for x in item.children
            - next unless x.show_in_nav
            %li
              %a{:href => route_to(x)}= orange[:sitemap].link_text_for(x)